<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Smarty - Multipurpose + Admin</title>
		<meta name="keywords" content="HTML5,CSS3,Template" />
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		
		<!-- THEME CSS -->
		<link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/layout.css" rel="stylesheet" type="text/css" />

		<!-- PAGE LEVEL SCRIPTS -->
		<link href="assets/css/header-1.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />
	</head>

	<!--
		AVAILABLE BODY CLASSES:
		
		smoothscroll 			= create a browser smooth scroll
		enable-animation		= enable WOW animations

		bg-grey					= grey background
		grain-grey				= grey grain background
		grain-blue				= blue grain background
		grain-green				= green grain background
		grain-blue				= blue grain background
		grain-orange			= orange grain background
		grain-yellow			= yellow grain background
		
		boxed 					= boxed layout
		pattern1 ... patern11	= pattern background
		menu-vertical-hide		= hidden, open on click
		
		BACKGROUND IMAGE [together with .boxed class]
		data-background="assets/images/boxed_background/1.jpg"
	-->
	<body class="smoothscroll enable-animation">

		<!-- wrapper -->
		<div id="wrapper">

			<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.noborder 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent noborder"
			-->
			<div id="header" class="header-sm dark clearfix">



				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- BUTTONS -->
						<ul class="pull-right nav nav-pills nav-second-main">

							<!-- SEARCH -->
							<li class="search fullscreen">
								<a href="javascript:;">
									<i class="fa fa-search"></i>
								</a>
								<div class="search-box">
									<a id="closeSearch" href="#">X</a>

									<form action="page-search-result-1.html" method="get">
										<div class="input-group">
											<input type="text" placeholder="Search" class="form-control" placeholder="search..." />
											<span class="input-group-btn">
												<button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
											</span>
										</div>
									</form>
								</div> 
							</li>


							<!-- /SEARCH -->


						</ul>
						<!-- /BUTTONS -->

						<!-- Logo -->
						<a class="logo pull-left" href="/">
							<img src="assets/images/MrTang_light_logo.png" alt="">
						</a>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
							<nav class="nav-main">

								<!--
									NOTE
									
									For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
									Direct Link Example: 

									<li>
										<a href="#">HOME</a>
									</li>
								-->
								<ul id="topMain" class="nav nav-pills nav-main">
									<li class="dropdown active"><!-- HOME -->
										<li>
											<a href="#">HOME</a>
										</li>
									</li>
									<li class="dropdown"><!-- BLOG -->
										<a class="dropdown-toggle" href="#">
											BLOG
										</a>
										<ul class="dropdown-menu">
									
											<li><a href="index-simple-revolution.html">TECH</a></li>
											<li><a href="index-simple-layerslider.html">TRAVEL</a></li>
											<li><a href="index-simple-parallax.html">OTHERS</a></li>
										</ul>
									</li>
									<li class="dropdown "><!-- PHOTOGRAPHY -->
										<a class="dropdown-toggle" href="#">
											PHOTOGRAPHY
										</a>
										<ul class="dropdown-menu">
									
											<li><a href="index-simple-revolution.html">LIFE IS AWESOME</a></li>
										</ul>
									</li>
									<li class="dropdown "><!-- ABOUT ME -->
										<a class="dropdown-toggle" href="#">
											ABOUT ME	
										</a>
										<ul class="dropdown-menu">
											<li><a href="index-simple-revolution.html">EDUCATION</a></li>
											<li><a href="index-simple-layerslider.html">CONTACT ME</a></li>
											<li><a href="index-simple-layerslider.html">FAQ</a></li>
										</ul>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>

			
				<!-- /Top Nav -->

			</div>


			<!-- -->
			<section id="slider" class="fullheight dark">

				<div class="display-table">
					<div class="display-table-cell vertical-align-middle">
						<div class="container">

							<div class="row err-404-row">
								<div class="text-center col-md-8 col-xs-12 col-md-offset-2">
						
									<h1 class="fa fa-frown-o size-100 theme-color hidden-xs"></h1>
									<h2><strong>404 Page Not Found</strong></h2>

									<p>Please, search again using more specific keywords.</p>

								</div>
								<div class="text-center col-md-4 col-xs-12 col-md-offset-4">
									<!-- INLINE SEARCH -->
									<div class="inline-search clearfix inline-search-404">
										<form action="" method="get" class="widget_search">
											<input type="search" placeholder="Search..." id="s" name="s" class="serch-input">
											<button type="submit">
												<i class="fa fa-search"></i>
											</button>
											<div class="clear"></div>
										</form>
									</div>
									<!-- /INLINE SEARCH -->
								</div>
							</div>
				
						</div>
					</div>
				</div>

			</section>
			<!-- / -->



			<!-- FOOTER -->
			<footer id="footer">
				<div class="copyright">
					<div class="container">
						<ul class="pull-right nomargin list-inline mobile-block">
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li>&bull;</li>
							<li><a href="#">Privacy</a></li>
						</ul>
						&copy; All Rights Reserved, Yuhao Tang 
					</div>
				</div>
			</footer>
			<!-- /FOOTER -->


		</div>
		<!-- /wrapper -->


		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->


		<!-- JAVASCRIPT FILES -->
		<script type="text/javascript">var plugin_path = 'assets/plugins/';</script>
		<script type="text/javascript" src="assets/plugins/jquery/jquery-2.2.3.min.js"></script>

		<script type="text/javascript" src="assets/js/scripts.js"></script>
		
		<!-- STYLESWITCHER - REMOVE -->
		<!-- <script async type="text/javascript" src="assets/plugins/styleswitcher/styleswitcher.js"></script> -->
	</body>
</html>