{% extends "base.html" %}
{% block section %}
<section id="slider" class="fullheight dark">

                <div class="display-table">
                    <div class="display-table-cell vertical-align-middle">
                        <div class="container">

                            <div class="row err-404-row">
                                <div class="text-center col-md-8 col-xs-12 col-md-offset-2">
                        
                                    <h1 class="fa fa-frown-o size-100 theme-color hidden-xs"></h1>
                                    <h2><strong>404 Page Not Found</strong></h2>

                                    <!-- <p>Please, search again using more specific keywords.</p> -->

                                </div>
                                <div class="text-center col-md-4 col-xs-12 col-md-offset-4">
                                    <!-- INLINE SEARCH -->
                                    <div class="inline-search clearfix inline-search-404">
                                        <form action="" method="get" class="widget_search">
                                            <input type="search" placeholder="Search Unavialable,  Under Development..." id="s" name="s" class="serch-input">
                                            <button type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                            <div class="clear"></div>
                                        </form>
                                    </div>
                                    <!-- /INLINE SEARCH -->
                                </div>
                            </div>
                
                        </div>
                    </div>
                </div>

            </section>
{% endblock %}