{% extends "base.html" %}
{% block slideTop %}

{% endblock %} 

{% block header %}














{% endblock %}
{% block content %}
<div class="col-md-9 col-sm-9">
<!-- blog-post-title -->
<h1 class="blog-post-title" style="font-size:40px">{{article_info.title}}</h1>
<ul class="blog-post-info list-inline">
    <li>
            <i class="fa fa-clock-o"></i> 
            <span class="font-lato">{{article_info.date}}</span>
    </li>
    <li>
            <i class="fa fa-book"></i> 
            <span class="font-lato">{{article_info.reading_num}} Readings</span>
    </li>
    <li>
        <i class="fa fa-folder-open-o"></i> 
        <a class="category" href="/blog?blogid={{article_info.blogid}}">
            <span class="font-lato">{{article_info.blogTitle}}</span>
        </a>
    </li>
    <li>
            <i class="fa fa-user"></i> 
            <span class="font-lato">{{article_info.author}}</span>
    </li>
</ul>
<figure class="margin-bottom-20">
                                <img class="img-responsive" src="{{'/assets/blog/images/'+article_info.cover_img}}" alt="img">
                            </figure>
{{content|safe}}





<div id="comments" class="comments">

{% if article_info.comment_num > 0 %}
    <h4 class="page-header margin-bottom-60 size-20">
        <span>{{article_info.comment_num}}</span> COMMENTS
    </h4>



{% if comments %}
    <!-- comment item -->
    {% for comment in comments %}
    <div class="comment-item">

        <!-- user-avatar -->
        <span class="user-avatar">
            <img class="pull-left media-object" src="assets/images/avatar.png" width="64" height="64" alt="">
        </span>

        <div class="media-body">
        {% if session['username'] is defined and session['username'] == "yuhaotang"%}
            <a href="#commentForm" class="scrollTo comment-reply">reply</a>
        {% endif %}
            <h4 class="media-heading bold">{{comment.name}}</h4>
            <small class="block">{{comment.created}}</small>
            {{comment.content}}
            
        </div>
    </div>
    {% endfor %}

{% endif %}

{% endif %}


<h4 class="page-header size-20 margin-bottom-30 margin-top-60">
                                    LEAVE A <span>COMMENT</span>
                                </h4>
<form id = "comment_form" action="#" method="post">

<div class="row">
    <div class="form-group">
        <div class="col-md-4">
            <label>NAME</label>
            <input type="text" value="" maxlength="100" class="form-control input-lg" name="author" id="author">
        </div>
        <!-- <div class="col-md-4">
            <label>EMAIL</label>
            <input required="required" type="email" value="" maxlength="100" class="form-control input-lg" name="contact_email" id="contact_email">
        </div>
        <div class="col-md-4">
            <label>WEBSITE</label>
            <input type="email" value="" maxlength="100" class="form-control input-lg" name="url" id="url">
        </div >-->
    </div>
</div>

<div class="row">
    <div class="form-group">
        <div class="col-md-12">
            <label>COMMENT</label>
            <textarea required="required" maxlength="5000" rows="5" class="form-control" name="comment" id="comment"></textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <button class="btn btn-3d btn-lg btn-reveal btn-black">
            <i class="fa fa-check"></i>
            <span>SUBMIT MESSAGE</span>
        </button>

    </div>
</div>
</form>

</div>

<!-- /CATEGORIES -->
</div>
<div class="col-md-3 col-sm-3">
<!-- CATEGORIES -->
<div id="article_nav" class="side-nav margin-bottom-60 ">

    <div class="side-nav-head">
        <button class="fa fa-bars"></button>
        <h4>CATEGORIES</h4>
    </div>



</div>




   <!--  <ul class="list-group list-group-bordered list-group-noicon uppercase">
        <li class="list-group-item active">
            <a class="dropdown-toggle" href="#">WOMEN</a>
            <ul>
                <li><a href="#"><span class="size-11 text-muted pull-right">(123)</span> Shoes & Boots</a></li>
                <li class="active"><a href="#"><span class="size-11 text-muted pull-right">(331)</span> Top & Blouses</a></li>
                <li><a href="#"><span class="size-11 text-muted pull-right">(234)</span> Dresses & Skirts</a></li>
            </ul>
        </li>
        <li class="list-group-item">
            <a class="dropdown-toggle" href="#">MEN</a>
            <ul>
                <li><a href="#"><span class="size-11 text-muted pull-right">(88)</span> Accessories</a></li>
                <li><a href="#"><span class="size-11 text-muted pull-right">(67)</span> Shoes & Boots</a></li>
                <li><a href="#"><span class="size-11 text-muted pull-right">(32)</span> Dresses & Skirts</a></li>
                <li class="active"><a href="#"><span class="size-11 text-muted pull-right">(78)</span> Top & Blouses</a></li>
            </ul>
        </li>
        <li class="list-group-item">
            <a class="dropdown-toggle" href="#">JEWELLERY</a>
            <ul>
                <li><a href="#"><span class="size-11 text-muted pull-right">(23)</span> Dresses & Skirts</a></li>
                <li><a href="#"><span class="size-11 text-muted pull-right">(34)</span> Shoes & Boots</a></li>
                <li class="active"><a href="#"><span class="size-11 text-muted pull-right">(21)</span> Top & Blouses</a></li>
                <li><a href="#"><span class="size-11 text-muted pull-right">(88)</span> Accessories</a></li>
            </ul>
        </li>
        <li class="list-group-item">
            <a class="dropdown-toggle" href="#">KIDS</a>
            <ul>
                <li><a href="#"><span class="size-11 text-muted pull-right">(88)</span> Shoes & Boots</a></li>
                <li><a href="#"><span class="size-11 text-muted pull-right">(22)</span> Dresses & Skirts</a></li>
                <li><a href="#"><span class="size-11 text-muted pull-right">(31)</span> Accessories</a></li>
                <li class="active"><a href="#"><span class="size-11 text-muted pull-right">(18)</span> Top & Blouses</a></li>
            </ul>
        </li>
        <li class="list-group-item"><a href="#"><span class="size-11 text-muted pull-right">(189)</span> ACCESSORIES</a></li>
        <li class="list-group-item"><a href="#"><span class="size-11 text-muted pull-right">(61)</span> GLASSES</a></li>

    </ul> -->

</div>


{% endblock %}
{% block jsblock %}
<script type="text/javascript" src="/assets/custom-js/tools.js"></script>
<script type="text/javascript" src="/assets/custom-js/article.js"></script>
{% endblock %}
