{% extends "base.html" %}
{% block slideTop %}
        <!-- facebook comments -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %} 

{% block header %}





{% endblock %}
{% block content %}

<!-- blog-post-title -->
<h1 class="blog-post-title" style="font-size:40px">{{article_info.title}}</h1>
<ul class="blog-post-info list-inline">
    <li>
            <i class="fa fa-clock-o"></i> 
            <span class="font-lato">{{article_info.date}}</span>
    </li>
    <li>
            <i class="fa fa-book"></i> 
            <span class="font-lato">{{article_info.reading_num}} Readings</span>
    </li>
    <li>
        <i class="fa fa-folder-open-o"></i> 
        <a class="category" href="/blog?blogid={{article_info.blogid}}">
            <span class="font-lato">{{article_info.blogTitle}}</span>
        </a>
    </li>
    <li>
            <i class="fa fa-user"></i> 
            <span class="font-lato">{{article_info.author}}</span>
    </li>
</ul>
<div id="left_div" class="col-md-9 col-sm-9">
<figure class="margin-bottom-20" >
                                <img class="img-responsive" src="{{'/assets/blog/images/'+article_info.cover_img}}" alt="img">
                            </figure>
{{content|safe}}



<div style="margin-top:40px">
<div class="fb-comments" data-href="http://www.blog.yuhaotang.com/article?articleid={{articleid}}" data-width="100%" data-numposts="5"></div>
</div>
</div>


<div id="right_div" class="col-md-3 col-sm-3">
<!-- CATEGORIES -->
<div id="article_nav" class="side-nav margin-bottom-60 ">

    <div class="side-nav-head">
    <button class="fa fa-bars"></button>
        <h4>CONTENTS</h4>
    </div>



</div>

</div>

{% endblock %}
{% block jsblock %}
<script type="text/javascript" src="/assets/custom-js/tools.js"></script>
<script type="text/javascript" src="/assets/custom-js/article.js"></script>
{% endblock %}
