{% extends "base.html" %}
{% block slideTop %}

{% endblock %} 

{% block header %}
<!-- 
                PAGE HEADER 
                
                CLASSES:
                    .page-header-xs = 20px margins
                    .page-header-md = 50px margins
                    .page-header-lg = 80px margins
                    .page-header-xlg= 130px margins
                    .dark           = dark page header

                    .shadow-before-1    = shadow 1 header top
                    .shadow-after-1     = shadow 1 header bottom
                    .shadow-before-2    = shadow 2 header top
                    .shadow-after-2     = shadow 2 header bottom
                    .shadow-before-3    = shadow 3 header top
                    .shadow-after-3     = shadow 3 header bottom
                    .light          = light page header
            -->
            <section class="page-header page-header-lg parallax parallax-4" style="background-image:url('assets/blog/images/default-1.jpg') ">
                <div class="overlay dark-1"><!-- dark overlay [1 to 9 opacity] --></div>

            </section>
            <!-- /PAGE HEADER -->
{% endblock %}
{% block content %}
{% endblock %}
{% block jsblock %}
{% endblock %}
