{% extends "base.html" %}
{% block slideTop %}

{% endblock %} 

{% block header %}
<!-- 
                PAGE HEADER 
                
                CLASSES:
                    .page-header-xs = 20px margins
                    .page-header-md = 50px margins
                    .page-header-lg = 80px margins
                    .page-header-xlg= 130px margins
                    .dark           = dark page header

                    .shadow-before-1    = shadow 1 header top
                    .shadow-after-1     = shadow 1 header bottom
                    .shadow-before-2    = shadow 2 header top
                    .shadow-after-2     = shadow 2 header bottom
                    .shadow-before-3    = shadow 3 header top
                    .shadow-after-3     = shadow 3 header bottom
                    .light          = light page header
            -->
            <section class="page-header page-header-lg parallax parallax-4" style="background-image:url('/assets/blog/images/default-1.jpg') ">
                <div class="overlay dark-1"><!-- dark overlay [1 to 9 opacity] --></div>

            </section>
            <!-- /PAGE HEADER -->
{% endblock %}
{% block content %}
<div class="col-md-9 col-sm-9">
<!-- blog-post-title -->
<h1 class="">{{article_info.title}}</h1>
<ul class="blog-post-info list-inline">
    <li>
            <i class="fa fa-clock-o"></i> 
            <span class="font-lato">{{article_info.date}}</span>
    </li>
    <li>
            <i class="fa fa-book"></i> 
            <span class="font-lato">{{article_info.reading_num}} Readings</span>
    </li>
    <li>
        <i class="fa fa-folder-open-o"></i> 
        <a class="category" href="/blog?blogid={{article_info.blogid}}">
            <span class="font-lato">{{article_info.blogTitle}}</span>
        </a>
    </li>
    <li>
            <i class="fa fa-user"></i> 
            <span class="font-lato">{{article_info.author}}</span>
    </li>
</ul>
{{content|safe}}

</div>
<div class="col-md-3 col-sm-3">
<!-- CATEGORIES -->
<div id="article_nav" class="side-nav margin-bottom-60 ">

    <div class="side-nav-head">
        <button class="fa fa-bars"></button>
        <h4>CATEGORIES</h4>
    </div>

   <!--  <ul class="list-group list-group-bordered list-group-noicon uppercase">
        <li class="list-group-item active">
            <a class="dropdown-toggle" href="#">WOMEN</a>
            <ul>
                <li><a href="#"><span class="size-11 text-muted pull-right">(123)</span> Shoes & Boots</a></li>
                <li class="active"><a href="#"><span class="size-11 text-muted pull-right">(331)</span> Top & Blouses</a></li>
                <li><a href="#"><span class="size-11 text-muted pull-right">(234)</span> Dresses & Skirts</a></li>
            </ul>
        </li>
        <li class="list-group-item">
            <a class="dropdown-toggle" href="#">MEN</a>
            <ul>
                <li><a href="#"><span class="size-11 text-muted pull-right">(88)</span> Accessories</a></li>
                <li><a href="#"><span class="size-11 text-muted pull-right">(67)</span> Shoes & Boots</a></li>
                <li><a href="#"><span class="size-11 text-muted pull-right">(32)</span> Dresses & Skirts</a></li>
                <li class="active"><a href="#"><span class="size-11 text-muted pull-right">(78)</span> Top & Blouses</a></li>
            </ul>
        </li>
        <li class="list-group-item">
            <a class="dropdown-toggle" href="#">JEWELLERY</a>
            <ul>
                <li><a href="#"><span class="size-11 text-muted pull-right">(23)</span> Dresses & Skirts</a></li>
                <li><a href="#"><span class="size-11 text-muted pull-right">(34)</span> Shoes & Boots</a></li>
                <li class="active"><a href="#"><span class="size-11 text-muted pull-right">(21)</span> Top & Blouses</a></li>
                <li><a href="#"><span class="size-11 text-muted pull-right">(88)</span> Accessories</a></li>
            </ul>
        </li>
        <li class="list-group-item">
            <a class="dropdown-toggle" href="#">KIDS</a>
            <ul>
                <li><a href="#"><span class="size-11 text-muted pull-right">(88)</span> Shoes & Boots</a></li>
                <li><a href="#"><span class="size-11 text-muted pull-right">(22)</span> Dresses & Skirts</a></li>
                <li><a href="#"><span class="size-11 text-muted pull-right">(31)</span> Accessories</a></li>
                <li class="active"><a href="#"><span class="size-11 text-muted pull-right">(18)</span> Top & Blouses</a></li>
            </ul>
        </li>
        <li class="list-group-item"><a href="#"><span class="size-11 text-muted pull-right">(189)</span> ACCESSORIES</a></li>
        <li class="list-group-item"><a href="#"><span class="size-11 text-muted pull-right">(61)</span> GLASSES</a></li>

    </ul> -->

</div>
<!-- /CATEGORIES -->
</div>
{% endblock %}
{% block jsblock %}
<script type="text/javascript" src="/assets/custom-js/article.js"></script>
{% endblock %}
