{% extends "base.html" %}
{% block slideTop %}

{% endblock %} 
{% block header %}
<!-- 
    PAGE HEADER 
    
    CLASSES:
        .page-header-xs = 20px margins
        .page-header-md = 50px margins
        .page-header-lg = 80px margins
                    .page-header-xlg= 130px margins
        .dark       = dark page header
        .light      = light page header
-->
<!-- <section class="page-header page-header-md">
    <div class="container">

        <h1>BLOG</h1>
        <span class="font-lato size-18 weight-300">We believe in Simple & Creative</span>

        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
                        <li><a href="/blog">Blog</a></li>
                        {% if blogid == 0 %}
                        <li class="active">All Articles</li>
                        {% else %}
                        <li class="active">{{blogs_table[blogid]}}</li>
                        {% endif %}
        </ol>

    </div>
</section> -->
<!-- /PAGE HEADER -->


<!-- 
    PAGE HEADER 
    
    CLASSES:
        .page-header-xs = 20px margins
        .page-header-md = 50px margins
        .page-header-lg = 80px margins
                    .page-header-xlg= 130px margins
        .dark       = dark page header
        .light      = light page header
-->
<section class="page-header light page-header-xs">
    <div class="container">

        <ol class="breadcrumb breadcrumb-inverse">
            <li><a href="/">Home</a></li>
                        <li><a href="/blog">Blog</a></li>
                        {% if blogid == 0 %}
                        <li class="active">All Articles</li>
                        {% else %}
                        <li class="active">{{blogs_table[blogid]}}</li>
                        {% endif %}
        </ol>

    </div>
</section>
<!-- /PAGE HEADER -->

{% endblock %}
{% block content %}

<div class="row">

<!-- LEFT -->
    <div class="col-md-9 col-sm-9">

       


{% for article in articles %}
        <!-- POST ITEM -->
        <div class="blog-post-item">

            <!-- IMAGE -->
            <figure class="margin-bottom-20">
                <img class="img-responsive" src={{"/assets/blog/images/"+article.cover_img}} alt="">
            </figure>

            <h2><a href="/article?articleid={{article.articleid}}">{{article.title}}</a></h2>

            <ul class="blog-post-info list-inline">
                <li>
                        <i class="fa fa-clock-o"></i> 
                        <span class="font-lato">{{article.date}}</span>
                </li>
                <li>
                        <i class="fa fa-book"></i> 
                        <span class="font-lato">{{article.reading_num}} Readings</span>
                </li>
                <li>
                    <i class="fa fa-folder-open-o"></i> 

                    <a class="category" href="/blog?blogid={{article.blogid}}">
                        <span class="font-lato">{{blogs_table[article.blogid]}}</span>
                    </a>
                </li>
                <li>
                        <i class="fa fa-user"></i> 
                        <span class="font-lato">{{article.author}}</span>
                </li>
            </ul>

            <p>{{article.abstract}}</p>

            <a href="/article?articleid={{article.articleid}}" class="btn btn-reveal btn-default">
                <i class="fa fa-plus"></i>
                <span>Read More</span>
            </a>

        </div>
        <!-- /POST ITEM -->
    {% endfor %}

        <!-- PAGINATION -->
        {% if page_range|length != 1 or page_range[0] != 1 %}
        <div class="text-right">
            <!-- Pagination Default -->
            <ul class="pagination nomargin">

                {% if page > PAGES_EACHBAR %}
                    <li><a id = "btn_prevlist" href="#xxx">&laquo;</a></li>
                {% endif %}
                {% for page_btn in page_range %}
                {% if page_btn == page %}
                    <li class="active"><a href="/blog?blogid={{blogid}}&page={{page_btn}}">{{page_btn}}</a></li>
                {% else %}
                    <li><a href="/blog?blogid={{blogid}}&page={{page_btn}}">{{page_btn}}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_navbar <  max_page_navbar %}
                <li><a id="btn_nextlist" href="#xxx">&raquo;</a></li>
                {% endif %}
            </ul>
            <!-- /Pagination Default -->
        </div>
        {% endif %}
        <!-- /PAGINATION -->

    </div>


    <!-- RIGHT -->
    <div class="col-md-3 col-sm-3">

        <!-- INLINE SEARCH -->
        <div class="inline-search clearfix margin-bottom-30">
            <form action="" method="get" class="widget_search">
                <input type="search" placeholder="Search unavailable..." id="s" name="s" class="serch-input">
                <button type="button">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
        <!-- /INLINE SEARCH -->

        <hr />

        <!-- side navigation -->
        <div class="side-nav margin-bottom-60 margin-top-30">

            <div class="side-nav-head">
                <button class="fa fa-bars"></button>
                <h4>CATEGORIES</h4>
            </div>
            <ul class="list-group list-group-bordered list-group-noicon uppercase">
            {% for blog in blogs %}
                <li class="list-group-item"><a href="/blog?blogid={{blog.blogid}}"><span class="size-11 text-muted pull-right">({{blog.article_num}})</span> {{blog.title}}</a></li>
            {% endfor %}

            </ul>
            <!-- /side navigation -->

        
        </div>


     

        <!-- TAGS -->
        <h3 class="hidden-xs size-16 margin-bottom-20">TAGS</h3>
        <div class="hidden-xs margin-bottom-60">

            <a class="tag" href="#">
                <span class="txt">RESPONSIVE</span>
                <span class="num">12</span>
            </a>
            <a class="tag" href="#">
                <span class="txt">CSS</span>
                <span class="num">3</span>
            </a>
            <a class="tag" href="#">
                <span class="txt">HTML</span>
                <span class="num">1</span>
            </a>
            <a class="tag" href="#">
                <span class="txt">JAVASCRIPT</span>
                <span class="num">28</span>
            </a>
            <a class="tag" href="#">
                <span class="txt">DESIGN</span>
                <span class="num">6</span>
            </a>
            <a class="tag" href="#">
                <span class="txt">DEVELOPMENT</span>
                <span class="num">3</span>
            </a>
        </div>
      





        <!-- TWIITER WIDGET -->
        <!-- <h3 class="hidden-xs size-16 margin-bottom-10">TWITTER FEED</h3>                            
        <ul class="hidden-xs widget-twitter margin-bottom-60" data-php="php/twitter/tweet.php" data-username="stepofweb" data-limit="3">
            <li></li>
        </ul> -->

        <!-- FEATURED VIDEO -->
        <!-- <h3 class="hidden-xs size-16 margin-bottom-10">FEATURED VIDEO</h3>
        <div class="hidden-xs embed-responsive embed-responsive-16by9 margin-bottom-60">
            <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/8408210" width="800" height="450"></iframe>
        </div> -->

        <!-- FLICKR WIDGET -->
        <!-- <h3 class="hidden-xs size-16 margin-bottom-10">FLICKR PHOTO</h3>
        <div class="hidden-xs widget-flickr clearfix lightbox margin-bottom-60" data-id="37304598@N02" data-limit="16" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'></div> -->



        <!-- SOCIAL ICONS -->
        <div class="hidden-xs margin-top-30 margin-bottom-60">
            <a href="https://www.facebook.com/yuhao.tang.37" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
            </a>

            <!-- <a href="#" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
            </a> -->


            <a href="https://www.linkedin.com/in/yuhao-tang-601574124/" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
            </a>


        </div>

    </div>

</div>

{% endblock %}
