{% extends "base.html" %}
{% block slideTop %}

<!-- SLIDE TOP -->
<div id="slidetop">

    <div class="container">
        
        <div class="row">

            <div class="col-md-4">
                <h6><i class="icon-heart"></i> Introduction</h6>
                <p>
                    Having a personal website is always a dream for me, and now it comes true. I put my blogs and photos here. Hope you enjoy it!!! 
                </p>
            </div>

            <div class="col-md-4">
                <h6><i class="icon-attachment"></i> RECENTLY UPDATED</h6>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fa fa-angle-right"></i> test test</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h6><i class="icon-envelope"></i> CONTACT INFO</h6>
                <ul class="list-unstyled">
                    <li><b>LinkIn:</b> <a href="https://www.linkedin.com/in/yuhao-tang-601574124/">https://www.linkedin.com/in/yuhao-tang-601574124/</a></li>
                    <li><b>Facebook:</b> <a href="https://www.facebook.com/yuhao.tang.37">https://www.facebook.com/yuhao.tang.37</a></li>
                    <li><b>Email:</b> <a href="mailto:yhtangBlog@gmail.com">yhtangBlog@gmail.com</a></li>
                </ul>
            </div>

        </div>

    </div>

    <a class="slidetop-toggle" href="#"><!-- toggle button --></a>

</div>
<!-- /SLIDE TOP -->
{% endblock %}



{% block header %}
<!-- 
                PAGE HEADER 
                
                CLASSES:
                    .page-header-xs = 20px margins
                    .page-header-md = 50px margins
                    .page-header-lg = 80px margins
                    .page-header-xlg= 130px margins
                    .dark           = dark page header

                    .shadow-before-1    = shadow 1 header top
                    .shadow-after-1     = shadow 1 header bottom
                    .shadow-before-2    = shadow 2 header top
                    .shadow-after-2     = shadow 2 header bottom
                    .shadow-before-3    = shadow 3 header top
                    .shadow-after-3     = shadow 3 header bottom
                    .light          = light page header
            -->
            <section class="page-header page-header-xlg parallax parallax-4" style="background-image:url('/assets/images/demo/1200x800/25-min.jpg')">
                <div class="overlay dark-1"><!-- dark overlay [1 to 9 opacity] --></div>

                <div class="container">

                    <h1>MR.TANG's WEBSITE</h1>
                    <span class="font-lato size-18 weight-300">Still Under Development</span>

                </div>
<!--                <div class="container" align="center">
                    <h4>Circle Image</h4>
                    <img src="/assets/images/avatar-min.jpg" alt="Circle Image" class="img-circle">
                   
                </div> -->
            </section>
            <!-- /PAGE HEADER -->
{% endblock %}



{% block content %}

<div class="row">

    


    <!-- POST ITEM -->
    <div class="blog-post-item col-md-4 col-sm-4">

        <!-- IMAGE -->
        <figure class="margin-bottom-20">
            <img class="img-responsive" src="/assets/images/demo/720x400/3-min.jpg" alt="">
        </figure>

        <h2><a href="/blog">BLOG</a></h2>

        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable There are many.</p>

        <a href="/blog" class="btn btn-reveal btn-default">
            <i class="fa fa-plus"></i>
            <span>Enter</span>
        </a>

    </div>
    <!-- /POST ITEM -->


    <!-- POST ITEM -->
    <div class="blog-post-item col-md-4 col-sm-4">

        <!-- OWL SLIDER -->
        <div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 3000, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
            <div>
                <img class="img-responsive" src="/assets/images/demo/720x400/1-min.jpg" alt="">
            </div>
            <div>
                <img class="img-responsive" src="/assets/images/demo/720x400/2-min.jpg" alt="">
            </div>
        </div>
        <!-- /OWL SLIDER -->

        <h2><a href="blog-single-default.html">PHOTOGRAPHY</a></h2>

        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable There are many.</p>

        <a href="blog-single-default.html" class="btn btn-reveal btn-default">
            <i class="fa fa-plus"></i>
            <span>Enter</span>
        </a>

    </div>
    <!-- /POST ITEM -->


    <!-- POST ITEM -->
    <div class="blog-post-item col-md-4 col-sm-4">

        <!-- IMAGE -->
        <figure class="margin-bottom-20">
            <img class="img-responsive" src="/assets/images/demo/720x400/4-min.jpg" alt="">
        </figure>

        <h2><a href="blog-single-default.html">OTHERS</a></h2>

<!--         <ul class="blog-post-info list-inline">
            <li>
                <a href="#">
                    <i class="fa fa-clock-o"></i> 
                    <span class="font-lato">June 29, 2015</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-comment-o"></i> 
                    <span class="font-lato">28</span>
                </a>
            </li>
        </ul> -->

        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable There are many.</p>

        <a href="blog-single-default.html" class="btn btn-reveal btn-default">
            <i class="fa fa-plus"></i>
            <span>Enter</span>
        </a>

    </div>
    <!-- /POST ITEM -->
</div>
                    
{% endblock %}
